<div class="card mat-card" id="first-card">
    <div class="body">
        <div id="profile-background">
            <img [src]="miPortfolio.header.background_img" alt="background">
        </div>
        <div id="info" style="padding: 16px;">
            <div id="info-img">
                <img class="profile-image" 
                [src]="miPortfolio.header.profile_img"
                />
            </div>
        </div>
        <div class="title">
            <h1>{{miPortfolio.header.nombre}}</h1>
        </div>
    </div>
</div>