<div class="card mat-card">
    <div class="body">
        <div class="card-titles">
            <h3>{{miPortfolio.datos_personales.title.text}}</h3>
        </div>
        <div class="texto">
            <ul>
                <li><b>{{miPortfolio.datos_personales.nombre_completo.tag}}</b>{{miPortfolio.datos_personales.nombre_completo.content}}</li>
                <li><b>{{miPortfolio.datos_personales.fecha_nacimiento.tag}}</b>{{miPortfolio.datos_personales.fecha_nacimiento.content}}</li>
                <li><b>{{miPortfolio.datos_personales.nacionalidad.tag}}</b>{{miPortfolio.datos_personales.nacionalidad.content}}</li>
            </ul>
        </div>
    </div>
</div>