<div class="card mat-card">
    <div class="body">
        <div class="card-titles">
            <h3>Datos Personales</h3>
        </div>
        <div class="texto">
            <ul>
                <li><b>Nombre completo: </b>{{miPortfolio.datos_personales.nombre}} {{miPortfolio.datos_personales.apellido}}</li>
                <li><b>Fecha de nacimiento: </b>{{miPortfolio.datos_personales.fecha_nacimiento}}</li>
                <li><b>Nacionalidad: </b>{{miPortfolio.datos_personales.nacionalidad}}</li>
            </ul>
        </div>
    </div>
</div>