<div class="card mat-card">
    <div class="body">
        <div class="titulos">
            <h3>Formación Académica</h3>
        </div>
        <ul>
            <li>
                <h5>{{miPortfolio.formacion_academica.escuela.text}} ({{miPortfolio.formacion_academica.escuela.inicio}}-{{miPortfolio.formacion_academica.escuela.inicio}})</h5>
                <a href="http://liceomilitarlamadrid.com/">
                    <p>{{miPortfolio.formacion_academica.escuela.liceo}}</p>
                </a>
            </li>
            <li>
                <h5>{{miPortfolio.formacion_academica.universidad.utn}} ({{miPortfolio.formacion_academica.universidad.inicio}}-{{miPortfolio.formacion_academica.universidad.fin}})</h5>
                <a href="http://www.frt.utn.edu.ar/departamentos/sistemas/">
                    <p>{{miPortfolio.formacion_academica.universidad.url}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>