<div class="logo">
        <a href="https://www.facebook.com/gaston.costas.52">
                <img [src]="miPortfolio.logos.facebook" alt="Logo de Facebook"
                        width="75px" height="75px" style="margin-right: 100px;">
        </a>
        <a href="https://www.linkedin.com/in/gast%C3%B3n-costas-08a942266">
                <img [src]="miPortfolio.logos.linkedin"
                        alt="Logo de LinkedIn" width="75px" height="75px" style="margin-right: 100px;">
        </a>
        <a href="https://github.com/gastoncostas">
                <img [src]="miPortfolio.logos.github" alt="Logo de Github" width="75px"
                        height="75px">
        </a>
</div>